* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header_container {
  position: fixed;
  display: flex;
  width: 100%;
  right: 0;
  top: 0; 
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, black, red, black);
  color: white;
  z-index: 2;
}

.header_container img {
  height: 75px;
  border-radius: 8px;
  margin-right: auto; 
}

.header_container_main {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex: 1;
}

.header_container_main p {
  margin: 0 15px;
  cursor: pointer;
}

.header_container_main p:last-child {
  font-weight: bold;
}

.header_container_main .cart-container {
  display: flex;
  align-items: center;
}

.header_container_main .cart-container p {
  margin-right: 5px; 
}

.header_container_main .cart-container svg {
  margin-left: 5px; 
}

.header_container input {
  background: white;
}

.header_container h2 span {
  color: blue;
}

.header_container h2 {
  color: gold;
}
